:root {
  /** CSS PRIMARY COLORS */
  --primary-0: #ffffff;
  --primary-10: #bdbdbd;
  --primary-20: #7f7f7f;
  --primary-30: #474747;
  --primary-50: #151515;
  --primary-60: #111111;
  --primary-70: #0c0c0c;
  --primary-80: #060606;
  --primary-90: #000000;

  /* CSS FLUID FONT-SIZE */
  --text-xs: clamp(0.78rem, calc(0.79rem + -0.01vw), 0.79rem);
  --text-s: clamp(0.89rem, calc(0.87rem + 0.08vw), 0.94rem);
  --text-m: clamp(1rem, calc(0.96rem + 0.21vw), 1.13rem);
  --text-l: clamp(1.13rem, calc(1.05rem + 0.38vw), 1.35rem);
  --text-xl: clamp(1.27rem, calc(1.15rem + 0.59vw), 1.62rem);

  /* SECTION PADDING */
  --section-m: clamp(2.25rem, calc(1.33rem + 4.58vw), 5rem);

  /* SPACE */
  --space-xs: clamp(0.75rem, calc(0.63rem + 0.63vw), 1.13rem);
  --space-s: clamp(1rem, calc(0.77rem + 1.15vw), 1.69rem);
  --space-m: clamp(1.5rem, calc(1.25rem + 1.25vw), 2.25rem);
  --space-l: clamp(2rem, calc(1.54rem + 2.29vw), 3.38rem);
  --space-xl: clamp(3rem, calc(2.5rem + 2.5vw), 4.5rem);
}

body {
  background: var(--primary-50);
  color: var(--primary-10);
  font-size: var(--text-m);
  font-weight: 400;
}
